.pageWrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #a2c5ff 0%, #ffffff 50%, #a2c5ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 420px;
  padding: 32px 40px;
  background: #ffffffcc;
  backdrop-filter: blur(12px);
  border-radius: 22px;
  box-shadow: 0 8px 30px #00000015;
  text-align: center;
}

/* SMALL TITLE */
.titleSmall {
  font-size: 18px;
  font-weight: 700;
  padding: 6px 20px;
  background: #000;
  color: #fff;
  border-radius: 999px;
  display: inline-block;
  margin-bottom: 18px;
}

.label {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 10px;
}

.input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  outline: none;
  margin-bottom: 8px;
}

.passwordWrapper {
  position: relative;
}

/* EYE ICON */
.eyeIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: #666;
}

.signinBtn {
  width: 100%;
  padding: 12px 0;
  margin-top: 22px;
  background: #0004fc;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.signinBtn:hover {
  background: #002ad6;
}

.errorBox {
  background: #ffe3e3;
  color: #d10000;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 12px;
  font-size: 14px;
}

.or {
  margin: 20px 0 12px;
  font-size: 13px;
  opacity: 0.7;
}

.googleBtn {
  width: 100%;
  padding: 10px 0;
  background: #fff;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px #00000020;
}

.googleIcon {
  width: 20px;
}

.registerText {
  margin-top: 20px;
  font-size: 13px;
}

.registerLink {
  color: #0004fc;
  font-weight: 600;
  text-decoration: none;
}
